#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_TEST_ARGS=-v -k 'not test_init_ipc_socket'
export JUPYTER_RUNTIME_DIR=$(CURDIR)/run

%:
	dh $@ --buildsystem=pybuild

execute_after_dh_install:
	python3 -m ipykernel install --prefix=$(CURDIR)/debian/python3-ipykernel/usr
	find debian/python3-ipykernel -name COPYING.md -delete

override_dh_installchangelogs:
	dh_installchangelogs -k CHANGELOG.md
